<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <% if (locals.message) { %>
      <p><%= message %></p>
      <% } %>
      <form action="/change-password" method="post">
        <div>
          <label for="password">
            <input
              type="password"
              name="password"
              placeholder="Enter a new Password"
            />
          </label>
          <label for="confirmPassword">
            <input
              type="password"
              name="confirmPassword"
              placeholder="Confirm Password"
            />
          </label>
          <button type="submit">submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
