<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link href="/css/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <a href="./login">Signin</a>
  <a href="./register">Register</a>
  <a href="./admin-register">Admin Register</a>
  <a href="./admin-login">Admin Login</a>
  <script src="/js/script.js"></script>
</body>

</html>